# MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=secret
MONGODB_URI=mongodb://admin:secret@mongodb:27017/promocodes?authSource=admin

# ClickHouse
CLICKHOUSE_HOST=http://clickhouse:8123
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DB=promocodes_db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=secret

# Backend
PORT=3000
JWT_ACCESS_SECRET=access-secret-key-123
JWT_REFRESH_SECRET=refresh-secret-key-456
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# Frontend
VITE_API_URL=http://localhost:3000
